@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron-Regular.ttf');
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
 }
 
 body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #f09ff6 10%, #4E8DA6 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Orbitron', sans-serif;
    color: #333333;
    
 }
 main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    max-width: 80%;
    max-height: 70%;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px 6px #68446a9e;
    font-size: 25px;
}

.div-home-page {
    position: absolute;
    top: 0;
    left: 0;
}

.button-home-page {
    width: 250px;
    height: 80px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    margin: 10px;
}

.spaceworks-hr {
    width: 100%;
    border: 2px solid #502a529e;
}

.div-ships {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    font-size: 25px;
}

.div-list-ships {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    font-size: 25px;
}

.div-ship {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    font-size: 25px;
}

.div-ship-information {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
    max-height: 100%;
    margin: 0 auto;

}

.img-ship {
    width: 180px;
    height: 180;
    margin: 0 auto;
}

.upgrade-button {
    cursor:pointer;
    margin-right: 40px;
    float: right;
    color: #fff;
    font-size: 26px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #9e1c1ca6;
    background-image: linear-gradient(135deg, #8d0505 10%, #b15e00 100%);
    transition: .3s;
}

.upgrade-button:hover{
    background-image: linear-gradient(45deg, #b15e00 10%, #8d0505 100%);
    color:#bbbaba;
}

.img-ressource {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.div-ressources {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 70%;
    max-width: 80%;
    max-height: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    font-size: 25px;
}

.div-ressource {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    max-width: 30%;
    max-height: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    font-size: 25px;
}

.number-ressource {
    font-size: 20px;
    font-weight: bold;
}

.strip-techno-required-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    font-size: 25px;
}

.strip-techno-required-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 100px;
    max-height: 100%;
    margin: 0 auto;
    border: 2px solid #68446a9e;
    border-radius: 10px;
    overflow: hidden;
    font-size: 25px;
}

.strip-techno-required-list-item-title {
    font-size: 20px;
    font-weight: bold;
}

.strip-techno-required-list-item-content {
    font-size: 15px;
}